templates/pipeline1/pipeline1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name"
		},
		"AzureDatabricks1": {
			"type": "string"
		},
		"AzureBlobStorage1": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"url": "https://scgcloudstorage.blob.core.windows.net/scgcloudcontainer/Position_Salaries.csv",
							"method": "GET",
							"linkedServices": [
								{
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							],
							"datasets": [
								{
									"referenceName": "Salary_Data",
									"type": "DatasetReference"
								}
							]
						}
					},
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Web1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"notebookPath": "/Users/mahesh.baraskar1@cgm4l.onmicrosoft.com/Cg_cluster_file",
							"baseParameters": {
								"inputpath": {
									"value": "@string(activity('Web1').output)",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('AzureDatabricks1')]",
							"type": "LinkedServiceReference"
						}
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Salary_Data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Salary_Data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureBlobStorage1')]",
					"type": "LinkedServiceReference"
				},
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Position_Salaries.csv",
						"container": "scgcloudcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "Prop_1",
						"type": "String"
					},
					{
						"name": "Prop_2",
						"type": "String"
					}
				]
			}
		}
	]
}